NODE_ENV=development
PORT=3001
DOCKER_HOST_PORT=3001

# Local dev: connects to docker's exposed port
DATABASE_URL=postgresql://user:password@localhost:5433/dbname?schema=public

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=dbname
POSTGRES_PORT=5433

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
